<script>
  $(function(){
	$(".tab_1").on("click","li",function(){
		$(".tab_1 li").removeClass("hover");
		$(this).addClass("hover");
		var i = $(".tab_1 li").index($(this));
		$(".tabDiv_1").removeClass("hover");
		$(".tabDiv_1").eq(i).addClass("hover");
	})
	$(".tab_2").on("click","li",function(){
		$(".tab_2 li").removeClass("hover");
		$(this).addClass("hover");
		var i = $(".tab_2 li").index($(this));
		$(".tabDiv_2").removeClass("hover");
		$(".tabDiv_2").eq(i).addClass("hover");
	})
});
</script>
<input type="hidden" name="parent_id" value="<%=@menu.parent_id%>" />
<a href="#" class="close">close</a>
<h1>添加菜单项</h1>
<div class="tab_content">
  <div class="new_job">
    <ul>
      <li>
        <label>菜单名称：</label>
        <input type="text" id="menu_name" value="<%=@menu.name%>"/>
      </li>
      <li>
        <label>指向地址：</label>
        <div class="linkPicker">
          <ul class="tab_1">
            <li class="<%=  @menu.types == 0 ? "hover":""%>">微网页</li>
            <li class="<%=  @menu.types == 2 ? "hover":""%>">职位</li>
            <li class="<%=  @menu.types == 3 ? "hover":""%>">其他</li>
          </ul>
          <ul class="tabDiv_1 <%=  @menu.types == 0 ? "hover":""%>">
            <%@comp_profiles.each do|cp|%>
              <li><div class="cr_input"><input name="website_page" type="radio" value="<%=cp.id%>" /><p><%=cp.title%></p></div></li>
            <%end%>
          </ul>
          <ul class="tabDiv_1 <%=(@menu.types == 2 )  ? "hover":"" %>">
            <li><div class="cr_input"><input name="position_type" type="radio" value="<%=Menu::TEMP_TYPES[:search_job]%>" <%=@menu.temp_id==-3 ? "checked":""%> /><p>全部职位</p></div></li>
            <li><div class="cr_input"><input name="position_type" type="radio" value="<%=Menu::TEMP_TYPES[:search_job]%>" <%=@menu.temp_id==-4 ? "checked":""%>/><p>最新职位</p></div></li>
            <%@position_types.each do |pt|%>
              <li><div class="cr_input"><input name="position_type" type="radio" value="<%=pt.id%>" <%=@menu.temp_id == pt.id ? "checked":""%>/><p><%=pt.name%></p></div></li>
            <%end%>
          </ul>
          <ul class="tabDiv_1 <%=  @menu.types == 3 ? "hover":""%>">
            <li style="width: auto;">
              <div class="cr_input">
                <p>外部链接</p>
                <input type="text" id="out_link" style="margin: 0 13px; width: 320px;" value="<%=@menu.file_path%>" />
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="tab_btn">
  <button class="green_btn" button="type" onclick="menu_edit_commit(<%=@company.id%>,<%=@menu.id%>)">确定</button>
</div>