
<script type="text/javascript" src="/assets/common/jquery-hcheckbox.js"></script>
<link href="/assets/hcheckbox.css" rel="stylesheet" type="text/css"/>
<script>
  $(function(){
    $('.cr_input').hradio();
  })
</script>
<div class="area">
  <div class="title clearAfter">
    <h1>微信公众号自定义菜单</h1>
    <div class="seek">

    </div>
  </div>
  <div class="content" style="position: relative;">
    <div class="menuLv2_box">
      <span>二级菜单(最多5个)</span>
      <% @father_menus.each_with_index do |fm,index| %>
        <ul class ="menu_ul" style="left: <%=150+index*120%>px;">
          <li><a href="#" class="add" onclick="add_menu_new(2,<%=fm.id%>,<%=@child_menus[fm.id.to_s].nil? ? 0:@child_menus[fm.id.to_s].length%>)">+</a></li>
          <% @child_menus[fm.id.to_s].each do |cm| %>
            <li onclick="show_edit_area(<%=@company.id%>,<%=cm.id%>)">
              <a class="close_1" title="删除" href="/companies/<%= @company.id %>/menus/<%= cm.id %>" data-confirm="确定删除该菜单?"  data-method="delete">x</a>
              <p><%= cm.name %></p></li>
          <%end if @child_menus[fm.id.to_s]%>
        </ul>
      <%end%>
    </div>
    <div class="menuLv1_box">
      <span>一级菜单(最多3个)</span>
      <ul class ="menu_ul">
        <% @father_menus.each do |fm| %>
          <li onclick="show_edit_area(<%=@company.id%>,<%=fm.id%>)">
            <a class="close_1" title="删除" href="/companies/<%= @company.id %>/menus/<%= fm.id %>" data-confirm="确定删除该菜单?" data-method="delete">x</a>
            <p><%= fm.name %></p></li>
        <%end%>
        <li><a href="#" class="add" onclick="add_menu_new(1,0,<%=@father_menus.length%>)">+</a></li>
      </ul>
    </div>
    <img src="/assets/menu_temp.png" style="position: absolute; top: 20px; right: 20px;" />
  </div>
</div>

<div class="tab add_menu_new" style="display:none;">
  <input type="hidden" name="parent_id" value />
  <a href="#" class="close">close</a>
  <h1>添加菜单项</h1>
  <div class="tab_content">
    <div class="new_job">
      <ul>
        <li>
          <label>菜单名称：</label>
          <input type="text" id="menu_name"/>
        </li>
        <li>
          <label>指向地址：</label>
          <div class="linkPicker">
            <ul class="tab_1">
              <li class="hover">微网页</li>
              <li>职位</li>
              <li>其他</li>
            </ul>
            <ul class="tabDiv_1 hover">
              <%@comp_profiles.each do|cp|%>
                <li><div class="cr_input"><input name="website_page" type="radio" value="<%=cp.id%>" /><p><%=cp.title%></p></div></li>
              <%end%>
            </ul>
            <ul class="tabDiv_1">
              <li><div class="cr_input"><input name="position_type" type="radio" value="<%=Menu::TEMP_TYPES[:search_job]%>" /><p>全部职位</p></div></li>
              <li><div class="cr_input"><input name="position_type" type="radio" value="<%=Menu::TEMP_TYPES[:search_job]%>" /><p>最新职位</p></div></li>
              <%@position_types.each do |pt|%>
                <li><div class="cr_input"><input name="position_type" type="radio" value="<%=pt.id%>" /><p><%=pt.name%></p></div></li>
              <%end%>
            </ul>
            <ul class="tabDiv_1">
              <li><div class="cr_input"><input name="other" type="radio" value="<%=Menu::TEMP_TYPES[:my_jobs]%>" /><p>我的求职</p></div></li>
              <li><div class="cr_input"><input name="other" type="radio" value="<%=Menu::TEMP_TYPES[:my_recommend]%>" /><p>我的推荐</p></div></li>
              <li><div class="cr_input"><input name="other" type="radio" value="0"/><p>我的简历</p></div></li>
              <li style="width: auto;">
                <div class="cr_input">
                  <input name="other" type="radio" value="-10"/>
                  <p>外部链接</p>
                  <input type="text" id="out_link" style="margin: 0 13px; width: 320px;" />
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab_btn">
    <button class="green_btn" button="type" onclick="menu_new_commit(<%=@company.id%>)">确定</button>
  </div>
</div>



<div class="tab add_menu_edit" style="display:none;">

</div>


















