<script charset="utf-8" src="/assets/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/assets/kindeditor/lang/zh_CN.js"></script>
<script>
  KindEditor.ready(function(K) {
   
    window.editor = K.create('.k_editor_id', {
      width : '380px',
      minWidth : '380px',
      items : ['source',
        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist'],
      afterCreate : function() {
        this.sync();
      },
      afterBlur: function(){
        this.sync();
      }//同步KindEditor的值到textarea文本框
    });
  });
</script>
<%=form_for(:positions,url:company_positions_path(@company)) do%>
  <input type="hidden" class="id" name="positions[id]" value="<%=@position.id if @position%>" />
  <p>
    <label>职位类型</label>
    <select id="types" name="positions[types]" style="margin-left: 19px;">
      <option value="0">请选择...</option>
      <%@position_types.each do |pt|%>
        <option value="<%=pt.id%>" <%= (pt.id==@position.position_type_id ? "selected":"") if @position %>><%=pt.name%></option>
      <%end%>
    </select>
  </p>
  <p>
    <label>职位名称</label>
    <input type="text" name="positions[name]" value="<%=@position.name if @position%>"/>
  </p>
  <p class="place">
    <label >工作地点</label>
    <%i=0%>
    <%if @position && !@position.new_record?%>
      <span class="scd_btn" name="address" style="text-align: center;">
        <% @addr_and_position_relations.each do |aapr|%>
          <%if aapr.position_id==@position.id%>
            <%@work_addresses.each do |wa|%>
              <%if wa.id == aapr.work_address_id%>
                <%=get_address_name wa%><br/>
                <input type="hidden" name="address_id[]" value="<%=wa.id%>" />
                <%i+=1%>
              <%end%>
            <%end%>
          <%end%>
        <%end%>
        <%unless i==0%>
          请点击选择工作地点
        <%end%>
      </span>
    <%else%>
      <span class="scd_btn" name="address" style="text-align: center;">请点击选择工作地点</span>
    <%end%>
  </p>
  <p>
    <label>职位描述</label>
    <textarea class="k_editor_id"  name="positions[description]"  onkeydown='character_limit(this,250)' onkeyup='character_limit(this,250)' ><%=@position.description if @position%></textarea>
  </p>

  <p>
    <label>任职要求</label>
    <textarea class="k_editor_id"  name="positions[requirement]"  onkeydown='character_limit(this,250)' onkeyup='character_limit(this,250)' ><%=@position.requirement if @position%></textarea>

  </p>
  <p>
    <button class="orangeBtn" type="button" onclick="check_position()">
      确定
    </button>
  </p>
<%end%>
