<a href="#" class="close">close</a>
<h1>查看职位</h1>
<div class="tab_content">
  <div class="see_job">
    <ul>
      <li style="display: inline-block; width: 260px; margin-right: 15px;"><label>职位类别：</label><span><%= find_name_from  @position_types,@position.position_type_id %></span></li>
      <li style="display: inline-block; width: 260px;"><label>职位名称：</label><span><%=@position.name%></span></li>
      <li>
        <p>工作地点：<%@work_addresses.each_with_index do |wa, i|%>
            <% if i == 0 %>
              <%=get_address_name wa%>
            <% else %>
            <p style="text-indent: 74px"><%=get_address_name wa%></p>
          <% end %>
        <%end if @work_addresses%></p>
      </li>
      <li>
        <p>职位描述：</p>
        <p><%=raw @position.description %></p>
      </li>
      <li>
        <p>任职要求：</p>
        <p><%=raw @position.requirement %></p>
      </li>
    </ul>
  </div>
</div>