<script charset="utf-8" src="/assets/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/assets/kindeditor/lang/zh_CN.js"></script>
<script>
  $(".create_position").show();
 
</script>

<div class="area">
  <div class="title clearAfter">
    <h1>
      <%if controller.action_name=='index'%>
        当前职位
      <%elsif controller.action_name=='history_index'%>
        历史职位
      <%elsif controller.action_name=='search_position'%>
        搜索职位
      <%end%>
    </h1>
    <div class="seek">
      <div class="inquire">
        <ul>
          <li>
            <%unless controller.action_name=="history_index"%>
              <%=link_to  create_position_company_positions_path(@company),remote:'true' do%>
                <button >新建职位</button>
              <%end%>
            <%end%>
          </li>
          <li style="position: relative;">
            <input type="text" class="search" >
            <button class="searchBtn" onclick="search_position(this,'<%=company_positions_url(@company)%>',<%=@status%>)" ></button>

          </li>
        </ul>
      </div>
    </div>
  </div>
  <%if @positions.blank? %>
    <div style="text-align:center; font-size: 14px;margin-top: 50px;"> 暂无数据
    </div>
  <%else%>
    <div class="content">
      <div class="list clearAfter">
        <ul>
          <%@positions.each do |position|%>
            <li>
              <div class="text">
                <h2 style="line-height: 48px; padding-left: 10px;"><%=position.name%></h2>
              </div>
              <div class="aFunc" style="padding-left: 10px;">
                <a href="/companies/<%=@company.id%>/positions/<%=position.id%>/see_position" class="show_icon tooltip_html" data-remote="true">查看</a>
                <%=link_to '编辑',edit_position_company_position_path(@company,position),remote:'true',class:"edit_icon tooltip_html" %>
                  <%=link_to "删除",company_position_path(@company,position,(controller.action_name=='index'? 0 : 1)),method: :delete,confirm:'是否确认删除？',class:"delete_icon tooltip_html" %>
                    <%if position.status == 1%>
                      <%=link_to release_company_position_path(@company,position,(controller.action_name=='index'? 0 : 1)),class:"publish_icon tooltip_html" do%>
                          发布
                        <%end%>
                      <%elsif position.status == 2%>
                        <%=link_to dis_release_company_position_path(@company,position,(controller.action_name=='index'? 0 : 1)),class:"have_publish_icon tooltip_html" do%>
                            取消发布
                          <%end%>
                        <%end%>
                      </div>
                      <span class="num"><%=@delivery_resume_records_group[position.id].nil? ? 0:@delivery_resume_records_group[position.id].length %></span>
                      <p class="jobClass"><%= find_name_from  @position_types,position.position_type_id %></p>
                      <p class="time"><%=position.created_at.strftime("%Y-%m-%d %H:%M")%></p>
                    </li>
                  <%end%>

                </ul>
              </div>
            </div>
          <%end%>
          <div class="digg_pagination" >
            <%=will_paginate @positions_and_resumes,:previous_label=>'上一页',:next_label=>'下一页',style:"width:75%"%>
          </div>
        </div>
        <div class="tab see_position" style="display:none;">

        </div>
        <div class="tab create_position " style="display: none;">

        </div>




