<div class="main_con2">
  <div>
    <div class="toolbar">
      <div class="toolBox">
        <%=link_to  '创建职位', new_company_position_path(@company),class:"white_btn_for_a" %>
        </div>
        <div class="searchTool">
          <div class="searchBox">

          </div>
        </div>
      </div>

      <div>
        <div class="jobInfo">
          <%=render 'form'%>
        </div>
        <div class="jobInfoTemp" style="position: relative;">
          <h2>引用</h2>
          <div >
            <%@positions.each do|p|%>
              <div class="jobTemp" onclick ="position_edit(this)">
                <input type="hidden" class="types_id" value="<%=p.position_type_id%>" />
                <input type="hidden" class="id" value="<%=p.id%>" />
                <input type="hidden" class="description" value="<%=p.description%>" />
                <input type="hidden" class="requirement" value="<%=p.requirement%>" />
                <input type="hidden" class="name" value="<%=p.name%>" />
                <%@addr_and_position_relations.each do |aapr|%>
                  <%if aapr.position_id==p.id%>
                    <%@work_addresses.each do |wa|%>
                      <%if wa.id == aapr.work_address_id%>
                         <input type="hidden" class="address_id" value="<%=wa.id%>" />
                         <input type="hidden" class="address_name" value="<%=get_address_name wa%>" />
                      <%end%>
                    <%end%>
                  <%end%>
                <%end%>
                <img src="/assets/jobTemp.png" width="85" />
                <span><%=p.name%></span>
              </div>
            <%end%>
          </div>
          <div></div>
          <%=  will_paginate @positions ,:previous_label=>'上一页',:next_label=>'下一页'   %>
        </div>
      </div>
    </div>
  </div>


  <div class="second_bg"></div>

  <!--新建菜单-->
  <div class="second_box second_box_fixed address" id="add_menu_div">
    <div class="second_content" style="width: 550px;">
      <span class="close" title="关闭">×</span>
      <h1 name="add_menu_h1"></h1>
      <div class="largeCon">
        <p>
          <label>工作地点</label>
        </p>
        <%if @work_addresses.blank?%>
        <p>
          <label>暂无工作地点</label>
          <span>请到工作地点管理里面创建属于您公司的工作地点。</span>
        </p>
        <%end%>
        <%@work_addresses.each do |wa|%>
          <p>
            <label>地点：</label>
            <span><%= "#{wa.province} #{wa.city} #{wa.address}" %> </span>
            <span class="check" onclick="add_selected1(this)">
              <span class="checkPoint"></span>
              <input type="hidden" name="id" value="<%=wa.id%>"/>
            </span>
          </p>
        <%end%>
      </div>
      <div class="scdBoxAct">
        <button class="orangeBtn" onclick="add_work_address(this,<%= @company.id %>)">确定</button>
        <button class="orangeBtn" onclick="add_menu_cancel(this)">取消</button>
      </div>
    </div>
  </div>