<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>登录</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body >
    <% if flash[:notice] %>
      <div id="flash_field" style="width:100%;position: fixed; z-index: 4;">
        <div style="font-size:20px;margin: 200px auto;width: 300px;background: #373f42;;padding: 20px;">
          <span class="close" id="close_flash" style="float:right;" ></span>
          <div class="alert_h"><%=  flash[:notice] %></div>
        </div>
      </div>
    <% end %>
    
      <div class="login">
        <div class="logo">微招聘</div>
        <div class="login_box">
          <%= form_tag "/logins/valid", :method => :post do %>
          <h1>用户登录</h1>
          <ul>
            <li><label class="user_name">用户名：</label><input type="text" name="comp_account" id="comp_account" <% if @comp_account %>value="<%= @comp_account %>"<% end %>/></li>
            <li><label class="user_password">密码：</label><input type="password" name="comp_password" id="comp_password"/></li>
            <li class="btn"><button  type="button" onclick="login_valid(this)">登录</button>
              <a class="register" href="/logins/regist" style="color: white;">立即注册</a></li>
          </ul>
          <% end %>
        </div>
      </div>
    
  </body>
</html>