<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>登录</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body style="background: #373F42;">
    <% if flash[:notice] %>
      <div id="flash_field" style="width:100%;position: fixed; z-index: 4;">
        <div style="font-size:20px;margin: 200px auto;width: 300px;background: #373f42;;padding: 20px;">
          <span class="close" id="close_flash" style="float:right;" ></span>
          <div class="alert_h"><%=  flash[:notice] %></div>
        </div>
      </div>
    <% end %>
    <div class="loginBox">
      <h1>微招聘登录</h1>
      <%= form_tag "/logins/valid", :method => :post do %>
        <div class="loginForm">
          <p>
            <label>用户名</label>
            <input type="text" name="comp_account" id="comp_account" <% if @comp_account %>value="<%= @comp_account %>"<% end %>/>
          </p>
          <p>
            <label>密码</label>
            <input type="password" name="comp_password" id="comp_password"/>
          </p>
          <p>
            <label></label>
            <button class="loginBtn orangeBtn" type="button" onclick="login_valid(this)">登录</button>
            <a class="register" href="/logins/regist">立即注册</a>
          </p>
        </div>
      <% end %>
    </div>
  </body>
</html>