
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>用户注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div id="flash_field" style="width:100%;position: fixed; z-index: 4;">
        <div style="font-size:20px;margin: 200px auto;width: 300px;background: white;border-radius: 5px;padding: 20px;box-shadow: 0px 0px 5px rgba(0,0,0,0.6);">
          <span class="close" id="close_flash" style="float:right;" ></span>
          <div class="alert_h"><%=  flash[:notice]%></div>
        </div>
      </div>
    <% end %>
    <div class="login">
      <%= form_tag logins_path(@company), :method => :post do %>
        <div class="logo">微招聘</div>
        <div class="login_box">
          <h1>用户注册</h1>
          <ul>
            <li>
              <label class="company">公司名称：</label>
              <input type="text" name="comp_name" id="regist_comp_name" value="">
            </li>
            <li>
              <label class="user_name">用户名：</label>
              <input name="comp_account" type="text"  id="regist_comp_account" value="">
            </li>
            <li>
              <label class="user_password">密码：</label>
              <input name="comp_password" type="password" id="regist_comp_password" value="">
            </li>
            <li class="btn" style="width: 250px;">
               <button  type="button" onclick="regist_valid(this)" >注册</button>
               <a class="register" href="/" style="color: white;float: right;
margin-right: -63px;
margin-top: -40px;">返回登陆</a>
            </li>
          </ul>
        </div>
      <%end%>
    </div>
    <%= render "/shared/tishi_alert" %>
  </body>
</html>

