<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>用户注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    "application", "style" %>
    <%= javascript_include_tag "application","main", "logins" %>
    <%= csrf_meta_tags %>
  </head>

  <body style="background: #373F42;">
    <% if flash[:notice] %>
      <div id="flash_field" style="width:100%;position: fixed; z-index: 4;">
        <div style="font-size:20px;margin: 200px auto;width: 300px;background: #373f42;;padding: 20px;">
          <span class="close" id="close_flash" style="float:right;" ></span>
          <div class="alert_h"><%=  flash[:notice]%></div>
        </div>
      </div>
    <% end %>
    <%= form_tag logins_path(@company), :method => :post do %>
      <div class="loginBox">
        <h1>微招聘注册</h1>
        <div class="loginForm">
          <p>
            <label>公司名称</label>
            <input type="text" name="comp_name" id="regist_comp_name"/>
          </p>
          <p>
            <label>用户名</label>
            <input type="text" name="comp_account" id="regist_comp_account"/>
          </p>
          <p>
            <label>密码</label>
            <input type="password" name="comp_password" id="regist_comp_password"/>
          </p>
          <p>
            <label>微信公众帐号类型</label>
            订阅号<input type="radio" name="comp_app_type" value="0" checked/>&nbsp;&nbsp;&nbsp;&nbsp;
            服务号<input type="radio" name="comp_app_type" value="1"/>
          </p>
          <p>
            <label>微信公众账号token</label>
            <input type="text" name="comp_app_token" id="comp_app_token"/>
          </p>
          <p>
            <label>微信公众账号AppId</label>
            <input type="text" name="comp_app_id" id="comp_app_id"/>
          </p>
          <p>
            <label>微信公众账号AppSecret</label>
            <input type="text" name="comp_app_secret" id="comp_app_secret"/>
          </p>
          <p>
            <button class="orangeBtn" type="button" onclick="regist_valid(this)">注册</button>
          </p>
        </div>
      </div>
    <% end %>
  </body>
</html>
