<div class="main_con2">
  <div>
    <div class="toolbar">
      <div class="toolBox">
        <%=link_to new_company_company_profile_path(@company) do%>
          <button>创建简介</button>
        <%end%>
      </div>
      <div class="searchTool">
        <div class="searchBox">
        </div>
      </div>
    </div>
    <%if @company_profiles.blank?%>
      <div style="text-align:center; font-size: 14px;margin-top: 50px;"> 暂无数据
      </div>
    <%else%>
      <table class="table1">
        <tr>
          <th>模块名称</th>
          <th>操作</th>
        </tr>
        <%@company_profiles.each do |cp|%>
          <tr>
            <td><%=cp.title%></td>
            <td>
              <%=link_to  company_company_profile_path(@company,cp.id),method: :delete,confirm:"确定删除？" do%>
                <button class="delete" title="删除"></button>
              <%end%>
              <%=link_to edit_company_company_profile_path(@company,cp.id) do%>
                <button class="edit" title="编辑"></button>
              <%end%>
              <a href="<%=cp.file_path%>" target="_blank" >
                <button class="edit" title="浏览"></button>
              </a>
            </td>
          </tr>
        <%end%>
      </table>
    <%end%>

  </div>
</div>