<div class="area">
  <div class="title clearAfter">
    <h1>图文消息</h1>
    <div class="seek">
      <div class="inquire">
        <ul>
          <li>
            <%= link_to new_company_micro_message_path(@company)  do %>
              <button>新建图文消息</button>
            <% end %>
          </li>
          <li style="position: relative;">
            <%= form_for :search, :url => company_micro_messages_path(@company), :method=> :get do |f|%>
            <input type="text" class="search" name="search_mme" value="<%= @content %>"/>
            <button class="searchBtn"></button>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="list clearAfter">
      <ul>
        <% @micro_messages.each do |micro_message|  %>
         <% micro_imgtexts = @micro_imgtexts[micro_message.id] if @micro_imgtexts %>
          <% if micro_imgtexts %>
            <li>
              <%= render "message", :micro_message_id => micro_message.id, :micro_imgtexts  => micro_imgtexts, :if_edit => true %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <%= will_paginate @micro_messages, :previous_label=>'上一页',:next_label=>'下一页', :class => "pageTurn" %>
</div>