<div class="area">
  <div class="title clearAfter">
    <h1>自动回复</h1>
    <div class="seek">
      <div class="inquire">
        <ul>
          <li style="position: relative;">
            <input type="text" class="search" />
            <button class="searchBtn"></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content clearAfter">
    <div class="template">
      <%= form_for :keyword, :url => company_weixin_reply_path(@company, @keyword), :method => :put do |f| %>
        <div class="template_box">
          <% if !@keyword.auto? %>
          <% p @keyword %>
          <label>关键字：（输入关键字为关键字回复，否则作为关注后回复）</label>
          <input type="text" name="keyword" value="<%= @keyword.keyword %>"/>
          <% end %>
          <div class="info_bar">
            <a href="#" class="x" style="display:none">close</a>
            <div class="seted_area">
              <% if @micro_message && @micro_message.text? %>
                <p><%= @this_micro_imagetexts[0].content if @this_micro_imagetexts.present? %></p>
              <% else %>
                <%= render "/micro_messages/message", :micro_message_id => @micro_message.id, :micro_imgtexts => @this_micro_imagetexts %>
              <% end %>
            </div>
            <input type="hidden" name="micro_message_id" class="micro_message_id" value="<%= @keyword.micro_message_id %>"/>
            <input type="hidden" name="content" class="micro_message_content" value="<%= @this_micro_imagetexts[0].content if @this_micro_imagetexts.present? %>"/>
            <input type="hidden" name="solid_link_flag" class="solid_link_flag" value="<%= @micro_message.solid_link_flag %>" />
          </div>
        </div>
        <div class="template_btn">
          <button class="green_btn">确定</button>
          <button class="gray_btn">预览</button>
        </div>
      <% end %>
    </div>
    <div class="temp_explain">
      <button class="green_btn" data-id="add_text">添加文字</button>
      <button class="green_btn" data-id="add_imgtext">添加图文</button>
      <button class="green_btn" data-id="add_app_link">添加app链接</button>
    </div>
  </div>
</div>
<%= render "reply_poptab" %>
