<div class="checkItem itemBox check_box_div">
  <span class="close_1" onclick="remove_form_item(this, 'check_box_div')">×</span>
  <p><label><%= @item_tile %></label></p>
  <input type="hidden" name="k_name" value="<%= @title_name %>"/>
  <input type="hidden" name="tags[<%= @title_name %>][<%= :name %>]" value="<%= @item_tile %>"/>
  <% @options.each do |opt| %>
    <div><input type="checkbox" /><span><%= opt %></span></div>
    <input type="hidden" name="tags[<%= @title_name %>][<%= :options %>][]" value="<%= opt %>"/>
  <% end %>
</div>