<div class="imgItem itemBox image_div file_div">
  <span class="close_1" onclick="remove_form_item(this, 'file_div')">×</span>
  <p>
    <label><%= @item_tile %></label>
    <input type="file"/>
  </p>
  <input type="hidden" name="k_name" value="<%= @title_name %>"/>
  <input type="hidden" name="tags[<%= @title_name %>][<%= :name %>]" value="<%= @item_tile %>"/>
  <input type="hidden" name="tags[<%= @title_name %>][<%= :url %>]" value=""/>
</div>