<div class="infoItem itemBox success_div">
  <span class="close" onclick="remove_form_item(this)">×</span>
  <input type="hidden" name="k_name" value="<%= @title_name %>"/>
  <p><label>提交成功页</label>   </p>
  <p>
    <label>提示信息</label>
    <label><%= @alert %></label>
    <input type="hidden" name="tags[<%= @title_name %>][<%= :alert %>]" value="<%= @alert %>"/>
  </p>
  <p>
    <label>联系电话</label>
    <label><%= @phone %></label>
    <input type="hidden" name="tags[<%= @title_name %>][<%= :phone %>]" value="<%= @phone %>"/>
  </p>
  <p>
    <label>地址</label>
    <label><%= @address %></label>
    <input type="hidden" name="tags[<%= @title_name %>][<%= :address %>]" value="<%= @address %>"/>
  </p>
</div>