<div class="txtItem itemBox text_div">
  <span class="close_1" onclick="remove_form_item(this, 'text_div')">×</span>
  <p><%= @item_tile %></p>
  <input type="hidden" name="k_name" value="<%= @title_name %>"/>
  <input type="hidden" name="tags[<%= @title_name %>][<%= :text %>]" value="<%= @item_tile %>"/>
</div>