<a href="#" class="close">close</a>
<h1>查看简历</h1>
<div class="tab_content">
  <div class="see_resume">
    <div class="user">
     <% unless (is_have_headimage? @client_resume.html_content_datas) == "" %>
      <img src="<%=is_have_headimage? @client_resume.html_content_datas%>"/>
     <% end %> 
      <h2><%=@client_resume.position_name%></h2>
      <p><%=@client_resume.created_at.strftime("%Y-%m-%d %H:%M")%></p>
    </div>
    <ul>
      <%@client_resume.html_content_datas.each do |ht|%>
        <%if ht[0].include?("headimage")%>
          <li><label><%=ht[1].keys[0]%>：</label><span><img width="100" height="100" src="<%=ht[1].values[0]%>"/></span></li>
        <%elsif ht[0].include?("file")%>
          <li><label><%=ht[1].keys[0]%>：</label>
            <span>
              <a href="<%=(is_have_file? @client_resume.html_content_datas)=="" ? "javascript:tishi_alert('暂无附件！')":"/down_load_file?file_path=#{ht[1].values[0]}" %>" >下载</a>
            </span>
          </li>
        <%else%>
          <li><label><%=ht[1].keys[0]%>：</label><span><%=ht[1].values[0]%></span></li>
        <%end%>
      <%end%>
    </ul>
  </div>
</div>