<div class="main_con2">
  <div>
    <div class="addItemBtnBar">
      <ul>
        <li class="scd_btn" name="addInfoItem"><span>信息栏</span></li>
        <li class="scd_btn" name="addRdoItem"><span>单选框</span></li>
        <li class="scd_btn" name="addChekItem"><span>复选框</span></li>
        <li class="scd_btn" name="addSelItem"><span>下拉框</span></li>
        <li class="scd_btn" name="addTxtItem"><span>纯文本</span></li>
        <li class="userHead" name="addHeadImageItem"><span>头像</span></li>
        <li class="annex" name="addFileItem"><span>附件</span></li>
      </ul>
    </div>
    <div class="phoneVirtual">
      <%= form_tag company_resume_path(@company, @resume_temp), :method => :put do %>
        <div id="form_div">
          <% @resume_temp.html_content.each do |k,v| %>
            <% if k.to_s.split("_")[0]=="message" %>
              <div class="infoItem itemBox message_div">
                <span class="close" onclick="remove_form_item(this, 'message_div')">×</span>
                <p><label><%= v["name"] %></label><input type="text"/></p>
                <input type="hidden" name="k_name" value="<%= k.to_s %>"/>
                <input type="hidden" name="tags[<%= k %>][<%=  "name" %>]" value="<%= v["name"] %>"/>
              </div>
            <% elsif k.to_s.split("_")[0]=="radio" %>
              <div class="radioItem itemBox radio_div">
                <span class="close" onclick="remove_form_item(this, 'radio_div')">×</span>
                <p><label><%= v[:name] %></label></p>
                <input type="hidden" name="k_name" value="<%= k.to_s %>"/>
                <input type="hidden" name="tags[<%= k %>][<%= :name %>]" value="<%= v[:name] %>"/>

                <div><input type="radio" name="<%= v[:name] %>" checked/><span><%= v[:options][0] %></span></div>
                <input type="hidden" name="tags[<%= k %>][<%= :options %>][]" value="<%= v[:options][0] %>"/>
                <% v[:options][1..v[:options].length-1].each do |opt| %>
                  <div><input type="radio" name="<%= v[:name] %>" /><span><%= opt %></span></div>
                  <input type="hidden" name="tags[<%= k %>][<%= :options %>][]" value="<%= opt %>"/>
                <% end if v[:options][1..v[:options].length-1] %>
              </div>
            <% elsif k.to_s.split("_")[0]=="checkbox" %>
              <div class="checkItem itemBox check_box_div">
                <span class="close" onclick="remove_form_item(this, 'check_box_div')">×</span>
                <p><label><%= v[:name] %></label></p>
                <input type="hidden" name="k_name" value="<%= k.to_s %>"/>
                <input type="hidden" name="tags[<%= k %>][<%= :name %>]" value="<%= v[:name] %>"/>
                <% v[:options].each do |opt| %>
                  <div><input type="checkbox" /><span><%= opt %></span></div>
                  <input type="hidden" name="tags[<%= k %>][<%= :options %>][]" value="<%= opt %>"/>
                <% end %>
              </div>
            <% elsif  k.to_s.split("_")[0]=="select" %>
              <div class="selectItem itemBox select_div">
                <span class="close" onclick="remove_form_item(this, 'select_div')">×</span>
                <p><label><%= v[:name] %></label>
                  <input type="hidden" name="k_name" value="<%= k.to_s %>"/>
                  <input type="hidden" name="tags[<%= k %>][<%= :name %>]" value="<%= v[:name] %>"/>
                  <select>
                    <% v[:options].each do |opt| %>
                      <option><%= opt %></option>
                    <% end %>
                  </select>
                </p>
                <% v[:options].each do |opt| %>
                  <input type="hidden" name="tags[<%= k %>][<%= :options %>][]" value="<%= opt %>"/>
                <% end %>
              </div>
            <% elsif k.to_s.split("_")[0]=="headimage" %>
              <div class="imgItem itemBox image_div head_image_div">
                <span class="close" onclick="remove_form_item(this, 'headimage_div')">×</span>
                <p>
                  <label><%= v["name"] %></label>
                  <input type="file"/>
                </p>
                <input type="hidden" name="k_name" value="<%= k.to_s %>"/>
                <input type="hidden" name="tags[<%= k %>][<%= :name %>]" value="<%= v["name"] %>"/>
                <input type="hidden" name="tags[<%= k %>][<%= :url %>]" value=""/>
              </div>
            <% elsif k.to_s.split("_")[0]=="file" %>
              <div class="imgItem itemBox image_div file_div">
                <span class="close" onclick="remove_form_item(this, 'file_div')">×</span>
                <p>
                  <label><%= v[:name] %></label>
                  <input type="file"/>
                </p>
                <input type="hidden" name="k_name" value="<%= k.to_s %>"/>
                <input type="hidden" name="tags[<%= k %>][<%= :name %>]" value="<%= v[:name] %>"/>
                <input type="hidden" name="tags[<%= k %>][<%= :url %>]" value=""/>
              </div>
            <% elsif k.to_s.split("_")[0]=="text" %>
              <div class="txtItem itemBox text_div">
                <span class="close" onclick="remove_form_item(this, 'text_div')">×</span>
                <p><%= v[:text] %></p>
                <input type="hidden" name="k_name" value="<%= k.to_s %>"/>
                <input type="hidden" name="tags[<%= k %>][<%= :text %>]" value="<%= v[:text] %>"/>
              </div>
            <% end %>
          <% end if @resume_temp.html_content %>
        </div>
        <div class="scdBoxAct">
          <button class="orangeBtn" type="button" onclick="create_resume_valid(this)">确定</button>
          <a href="<%= @resume_temp.html_url.nil? ? 'javascript:viod(0)' : @resume_temp.html_url %>" target="_blank;">
            <button class="orangeBtn" type="button">预览</button>
          </a>
        </div>
      <% end %>
    </div>
    <div class="profileExplain">
      <h1>功能说明</h1>
      <ul>
        <li class="">
          <h2>信息栏</h2>
          <img src="/assets/explain1.png" />
        </li>
        <li class="">
          <h2>单选、复选框</h2>
          <img src="/assets/explain2.jpg" />
        </li>
        <li class="">
          <h2>下拉框</h2>
          <img src="/assets/explain3.jpg" />
        </li>
        <li class="">
          <h2>纯文本</h2>
          <img src="/assets/explain6.jpg" />
        </li>
        <li class="hover">
          <h2>头像</h2>
          <img src="/assets/explain4.jpg" />
        </li>
        <li class="">
          <h2>附件</h2>
          <img src="/assets/explain5.jpg" />
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="second_bg"></div>
<%= render "add_form_item" %>
