
<div class="area">
  <div class="title clearAfter">
    <h1>最新简历</h1>
    <div class="seek">
      <%=render 'choice_part', status:@status %>
    </div>
  </div>
  <div class="content">
    <div class="list clearAfter">
      <%if @positions_and_resumes.blank?%>
        <div style="text-align:center; font-size: 14px;margin-top: 50px;"> 暂无数据
        </div>
      <%else%>

        <ul>
          <%@positions_and_resumes.each do |p_and_r|%>
            <li>
              <div class="avatar"><img src="<%=is_have_headimage? p_and_r.html_content_datas%>"/></div>
              <div class="text">
                <h2><%=p_and_r.position_name%></h2>
              </div>
              <div class="aFunc">
                <a href="/companies/<%=@company.id%>/resumes/<%=p_and_r.id%>/show_resumes_new" class="preview_icon tooltip_html" data-remote="true">预览</a>
                <a href="javascript:void(0)" class="refuse_icon tooltip_html" onclick="change_status(this,<%=@company.id%>,<%=p_and_r.id%>,1)">拒绝</a>
                <a href="javascript:void(0)" class="interview_icon tooltip_html" onclick="deal_audition(this,<%=@company.id%>,<%=p_and_r.id%>)">面试</a>
                <a href="<%=(is_have_file? p_and_r.html_content_datas)=="" ? "javascript:tishi_alert('暂无附件！')":"/down_load_file?file_path=#{(is_have_file? p_and_r.html_content_datas)}" %>" class="downLoad_icon tooltip_html">下载附件</a>
              </div>
              <p class="time"><%=p_and_r.created_at.strftime("%Y-%m-%d %H:%M")%></p>
            </li>
          <%end%>
        </ul>
      <%end%>
    </div>
  </div>
  <div style="margin-top: 19px;" class="digg_pagination">
    <%=will_paginate @positions_and_resumes,:previous_label=>'上一页',:next_label=>'下一页'%>
  </div>
</div>


<div class="second_bg"></div>
<%=render 'refuse_tab'%>
<div class="tab audition" style="display:none;">
  <a href="#" class="close">close</a>
  <form  id ="audition_form">
    <h1>安排面试</h1>
    <div class="tab_content">
      <div class="interview_resume">
        <ul class="fill_list">
          <li><label>面试地点：</label>
            <input name="audition_addr" type="text" />
          </li>
          <li><label>面试时间：</label>
            <input name="audition_time" type="text" readonly onclick="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})"/>

          </li>
          <li><label>备注信息：</label>
            <textarea name="remark" style=" margin-left: 14px; resize: none; width: 250px; padding: 3px;"></textarea>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab_btn">
      <button type="button" onclick="submit_audition_form(this)">确定</button>
      <!--button type="button" class="orangeBtn" onclick="cancle_the_box(this)">取消</button-->
    </div>
  </form>
</div>
<div class="tab show_resume" style="display:none;">
</div>
