<script src="/assets/My97DatePicker/WdatePicker.js" >
</script>
<script src="/assets/jquery-hcheckbox.js" >
</script>
<script type="text/javascript">
  $(function(){
    $('.cr_input').hcheckbox();
  })
</script>
<div class="area">
  <div class="title clearAfter">
    <h1>安排面试</h1>
    <div class="seek">
      <%=render 'choice_part', status:@status %>
    </div>
  </div>
  <div class="content">
    <div class="manage">
      <div class="manage_head">
        <%=render 'ul_manage'%>
      </div>
      <div class="manage_body">
        <div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
            <thead>
              <tr>
                <th><div class="cr_input"><input name="" type="checkbox" value=""><p>全选</p></div></th>
                <th>投递职位</th>
                <th>应聘人员姓名</th>
                <th>手机号码 </th>
                <th>入职时间</th>
                <th>附件</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <%@positions_and_resumes.each do |p_and_r|%>
                <tr>
                  <td><div class="cr_input"><input name="" type="checkbox" value=""><p></p></div></td>
                  <td><%=p_and_r.name%></td>
                  <td><%=p_and_r.clint_name%></td>
                  <td><%=p_and_r.client_phone%></td>
                  <td><%=p_and_r.join_time.strftime("%Y-%m-%d %H:%M")%></td>
                  <td><a href="<%= get_accessory_from  p_and_r.html_content_datas%>" target="_blank">下载</a></td>

                  <td><div class="aFunc">
                      <a href="#" class="preview_icon tooltip_html">预览</a>
                      <a href="#" class="downLoad_icon tooltip_html">下载</a>
                    </div></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 19px;">
    <%=will_paginate @positions_and_resumes,:previous_label=>'上一页',:next_label=>'下一页',style:"width:75%"%>
  </div>
</div>

