<div class="main_con2">
  <div class="toolbar">
    <div class="searchBox2">
      <%=render 'choice_part', status:@status %>
    </div>
  </div>
  <%if @positions_and_resumes.blank?%>
    <div style="text-align:center; font-size: 14px;margin-top: 50px;"> 暂无数据
    </div>
  <%else%>
    <table class="table1">
      <tr>
        <th>职位</th>
        <th>姓名</th>
        <th>手机号码</th>
        <th>附件</th>
        <th>操作</th>
      </tr>
      <%@positions_and_resumes.each do |p_and_r|%>
        <tr>
          <td><%=p_and_r.name%></td>
          <td><%=p_and_r.clint_name%></td>
          <td><%=p_and_r.client_phone%></td>
          <td></td>
          <td>
            <button class="show" title="查看" onclick ="show_resume(<%=@company.id%>,<%=p_and_r.client_resume_id%>)"></button>
            <%=link_to company_resume_path(@company,p_and_r.id),method:'delete',confirm:"是否确定删除？" do%>
              <button class="delete" title="删除"></button>
            <%end%>
          </td>
        </tr>
      <%end%>
    </table>
  <%end%>
</div>