<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>微招聘-<%= @title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div id="flash_field" style="width:100%;position: fixed; z-index: 4;">
        <div style="font-size:20px;margin: 200px auto;width: 300px;background: #373f42;;padding: 20px;">
          <span class="close" id="close_flash" style="float:right;" ></span>
          <div class="alert_h" style="color:white;"><%=msg%></div>
        </div>
      </div>
    <% end %>
    <div class="header">
      <div class="logo">微招聘</div>
      <div class="userInfo">
        <span><%= cookies[:company_account] %></span>
        <ul>
          <li>1</li>
          <li>1</li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="leftMenu">
        <ul>
          <%= link_to "/companies/show?company_id=#{@company.id}" do %>
          <li class="leftMenuItem <%= is_hover?("companies/show") %>">设置</li>
          <% end %>
          <%=link_to company_position_types_path(@company) do%>
            <li class="leftMenuItem <%= is_hover?("position_types") %>">职位类别</li>
          <%end%>
          <%=link_to company_positions_path(@company) do%>
            <li class="leftMenuItem <%= is_hover?("positions")%>">招聘职位</li>
          <%end%>
            <%= link_to company_resumes_path(@company) do %>
          <li class="leftMenuItem <%= is_hover?("resumes")%>">简历模板</li>
          <% end %>
           <%=link_to company_company_profiles_path(@company) do%>
          <li class="leftMenuItem <%= is_hover?("company_profiles")%>">公司简介</li>
          <%end%>
          <%= link_to company_menus_path(@company) do %>
          <li class="leftMenuItem <%= is_hover?("menus")%>">菜单</li>
          <% end %>
          <%= link_to company_exports_path(@company) do %>
          <li class="leftMenuItem <%= is_hover?("exports")%>">导出简历</li>
          <%end%>
          <%= link_to company_app_managements_path(@company) do %>
          <li class="leftMenuItem <%= is_hover?("app_managements")%>">APP管理</li>
          <% end %>

          <%= link_to company_address_settings_path(@company) do %>
          <li class="leftMenuItem <%= is_hover?("address_settings")%>">工作地址管理</li>
          <% end %>
          <a href="/logins/sign_out">
          <li class="leftMenuItem">注销</li>
          </a>
        </ul>
      </div>
      <%= yield %>
    </div>
    <%= render "/shared/tishi_alert" %>
  </body>
</html>
