<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>微招聘-<%= @title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div id="flash_field" style="width:100%;position: fixed; z-index: 4;">
        <div style="font-size:20px;margin: 200px auto;width: 300px;background: #373f42;;padding: 20px;">
          <span class="close" id="close_flash" style="float:right;" ></span>
          <div class="alert_h" style="color:white;"><%=msg%></div>
        </div>
      </div>
    <% end %>


    <div class="wrap">
      <div class="left">
        <div class="area">
          <div class="logo">微招聘</div>
          <div class="user_info">
            <div class="user_info_name"><img src="/assets/tx.jpg"/><span><%= cookies[:company_account] %></span></div>
            <a href="/logins/sign_out" title="退出" class="out"></a>
          </div>
          <div class="nav">
            <div class="nav_list <%=is_hover_top?(controller.controller_name) == 1 ? "hover":""%>"><p class="resume">简历</p>
              <ul class="menu" style="display: <%=is_hover_top?(controller.controller_name) == 1 ? "block":"none"%>;">
                <li>
                  <%= link_to newest_resumes_company_resumes_path(@company),:class=>(@status == DeliveryResumeRecord::STATUS[:newest] ? "hover" : "") do %>
                    最新简历
                  <%end%>
                </li>
                <li>
                  <%= link_to audition_resume_company_resumes_path(@company),:class=>( (@status == DeliveryResumeRecord::STATUS[:audition]||
                      @status == DeliveryResumeRecord::STATUS[:refuse] || @status == DeliveryResumeRecord::STATUS[:pass])? "hover" : "") do %>
                    管理简历<%end%>
                </li>
                <li><%= link_to company_resumes_path(@company),:class=>(is_hover?("resumes") if controller.action_name == 'index') do %>
                    简历模版<%end%></li>
              </ul>
            </div>
            <div class="nav_list <%=is_hover_top?(controller.controller_name) == 2 ? "hover":""%>"><p class="position">职位</p>
              <ul class="menu" style="display: <%=is_hover_top?(controller.controller_name) == 2 ? "block":"none"%>;">
                <li><%=link_to company_positions_path(@company),:class=>((controller.action_name=="index" && controller.controller_name==("positions")) ? "hover":"") do%>
                    当前职位<%end%></li>
                <li><%=link_to history_index_company_positions_path(@company),:class=>(is_hover?("positions/history_index")) do%>
                    历史职位<%end%></li>
              </ul>
            </div>
            <div class="nav_list <%=is_hover_top?(controller.controller_name) == 3 ? 'hover':''%>"><p class="set ">设置</p>
              <ul class="menu" style="display: <%=is_hover_top?(controller.controller_name) == 3 ? "block":"none"%>;">
                <li><%= link_to "/companies/show?company_id=#{@company.id}",class:is_hover?('companies/show') do %>
                   设置
                <% end %></li>
                <li ><%=link_to company_company_profiles_path(@company),class:is_hover?('company_profiles') do%>
                  公司简介
                <%end%></li>
                 <li><%=link_to company_position_types_path(@company),class:is_hover?('position_types') do%>
                 职位类别
                <%end%></li>
                <li ><%= link_to company_address_settings_path(@company),class: is_hover?('address_settings') do %>
                  工作地点管理
                <% end %></li>
                <li ><%= link_to company_menus_path(@company),class:is_hover?('menus') do %>
                  菜单
                <% end %></li>
                <li ><%= link_to company_app_managements_path(@company),class:is_hover?('app_managements') do %>
                  APP管理
                <% end %></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="right">
        <%=yield%>
      </div>
    </div>
    <%= render "/shared/tishi_alert" %>
  </body>
</html>
